@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&family=Young+Serif&display=swap");

/* Global, reset & typography */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

:root {
  --cs-main-font: "Outfit", sans-serif;
  --cs-font-deco: "Young Serif", serif;

  /* ## Colors */
  /* ### Primary */

  --cs-nutmeg: 14, 45%, 36%;
  --cs-dark-raspberry: 332, 51%, 32%;

  /* ### Neutral */

  --cs-white: 0, 0%, 100%;
  --cs-rose-white: 330, 100%, 98%;
  --cs-eggshell: 30, 54%, 90%;
  --cs-light-grey: 30, 18%, 87%;
  --cs-wenge-brown: 30, 10%, 34%;
  --cs-dark-charcoal: 24, 5%, 18%;
}

html {
  font-family: var(--cs-main-font);
  font-size: 10px;
}

body {
  position: relative;
  display: grid;
  min-height: 100svh;
  min-height: 100vh; /*fallback*/
  overflow-x: hidden;
}

html,
body {
  min-width: 30rem;
}

/* Common */

p,
span {
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--cs-font-deco);
}

.bold-hl {
  font-weight: bold;
  font-style: normal;
}

/* Mobile styles */

body {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2rem;
  background-color: hsla(var(--cs-eggshell), 100%);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: hsla(var(--cs-white), 100%);
}

.article-sections-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 3.1rem 0.5rem 3.1rem;
  gap: 2.5rem;
}

.article-sections-wrap > * {
  width: 100%;
}

.article-sections-wrap h2 {
  color: hsla(var(--cs-nutmeg), 100%);
}

.article-sections-wrap header,
.article-sections-wrap section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.art-head {
  padding-bottom: 1rem;
}

.art-head h1 {
  font-size: 3.5rem;
  line-height: 1;
  margin-bottom: 1.5rem;
  color: hsla(var(--cs-dark-charcoal), 100%);
}

.art-head p {
  line-height: 1.5;
  color: hsla(var(--cs-wenge-brown), 100%);
}

.preptime-info {
  padding: 2rem 2.5rem;
  border-radius: 1rem;
  background-color: hsla(var(--cs-rose-white), 100%);
}

.prep-label {
  font-size: 2rem;
  font-weight: 600;
  color: hsla(var(--cs-dark-raspberry), 100%);
}

.preptime-info ul {
  display: flex;
  flex-direction: column;
  list-style: disc;
  padding-left: 1.7rem;
}

.preptime-info ul li {
  padding: 0.4rem 1rem 0.4rem 2.3rem;
  color: hsla(var(--cs-wenge-brown), 100%);
}

.prep-el {
  line-height: 1.5;
}

.article-sections-wrap section h2 {
  font-size: 2.7rem;
}

.ingredients-list {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  list-style: disc;
  padding: 1.2rem 1rem 1rem 2.2rem;
}

.ingredient-element {
  color: hsla(var(--cs-wenge-brown), 100%);
  font-size: 1.6rem;
  line-height: 1.25;
  padding-left: 2rem;
}

.prep-instructions {
  display: flex;
  flex-direction: column;
  padding: 3rem 0rem 2.5rem 0rem;
  border-top: 1px solid hsla(var(--cs-light-grey), 100%);
  border-bottom: 1px solid hsla(var(--cs-light-grey), 100%);
}

.preparation-instruction-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  list-style: decimal;
  padding: 0.5rem 0.5rem 1rem 2.5rem;
}

.preparation-instruction-list > li::marker {
  font-weight: bold;
  color: hsla(var(--cs-nutmeg), 100%);
}

.prep-step-el {
  color: hsla(var(--cs-wenge-brown), 100%);
  font-size: 1.55rem;
  line-height: 1.45;
  padding-left: 2rem;
}

.nutrition-info {
  display: flex;
  flex-direction: column;
}

.nutrition-info h2 {
  margin-bottom: 1rem;
}

.nutrition-info p {
  line-height: 1.5;
  padding-right: 1rem;
  color: hsla(var(--cs-wenge-brown), 100%);
}

.nutrition-data {
  table-layout: fixed;
  width: 100%;
  max-width: 45rem;
  margin-inline: auto;
  font-size: 1.5rem;
  text-align: left;
  color: hsla(var(--cs-wenge-brown), 100%);
}

.nutrition-data th,
.nutrition-data td {
  padding: 1.3rem;
}

.nutrition-data th {
  padding-left: 3rem;
  font-weight: 600;
}

.nutrition-data td {
  padding-left: 1rem;
  color: hsla(var(--cs-nutmeg), 100%);
  font-weight: 700;
}

.nutrition-data tr {
  box-shadow: 0rem 0.1rem 0rem 0rem hsla(var(--cs-light-grey), 100%);
}

.nutrition-data tr:last-of-type {
  box-shadow: unset;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

footer p {
  font-size: 1rem;
}

footer a {
  color: hsla(var(--cs-nutmeg), 100%);
  font-weight: bold;
}

footer a:hover {
  color: hsla(var(--cs-dark-raspberry), 100%);
}

/* Media queries */

@media screen and (min-width: 785px) {
  main {
    /* justify-content: center; */
    /* padding: 2rem; */
    /* Using hardcoded value instead because of Frontend Mentor screenshot issue */
    padding: 11.2rem 2rem 10rem 2rem;
  }

  .recipe-wrapper {
    width: 80%;
    height: unset;
    max-width: 73.5rem;
    border-radius: 2rem;
    overflow: hidden;
    padding: 4rem 4rem 2rem 4rem;
    transform: translate(0rem, 1rem);
  }

  .recipe-image-wrap {
    overflow: hidden;
    border-radius: 1rem;
  }

  .article-sections-wrap {
    padding: 4rem 0rem 0.5rem 0rem;
  }

  .art-head h1 {
    font-size: 3.9rem;
  }

  .preptime-info {
    padding: 2.5rem;
  }

  .ingredients-list {
    gap: 1.2rem;
    padding: 1.2rem 1rem 0.5rem 2.2rem;
  }

  .preparation-instruction-list {
    gap: 1rem;
    padding: 1rem 1rem 1rem 2.5rem;
  }

  .prep-step-el {
    font-size: 1.6rem;
    padding-left: 1.5rem;
    line-height: 1.4;
  }

  .nutrition-data {
    max-width: unset;
    font-size: 1.6rem;
  }

  footer p {
    font-size: 1.2rem;
  }
}
